{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"arrowParens": "always",
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"endOfLine": "auto"
}
