$animationDuration1s: 1s;
$animationDuration2s: 2s;
$animationDelay2s: 2s;

body {
	@apply bg-portGore-500;
}

/* class="bg-portGore-500" */

/* Animate CSS */
.animate__bounceIn {
	animation-delay: 0.5s;
	animation-duration: $animationDuration1s;
}
.animate__fadeInUp {
	animation-duration: $animationDuration2s;
}
.animate__zoomIn {
	animation-delay: 1.5s;
	animation-duration: $animationDuration1s;
}
.animate__fadeInLeft {
	animation-delay: $animationDelay2s;
	animation-duration: $animationDuration2s;
}
.animate__fadeIn {
	animation-delay: $animationDelay2s;
	animation-duration: $animationDuration2s;
}
